@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&subset=cyrillic");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto Mono', monospace; }

p {
  font-size: 24px;
  line-height: 34px; }

.getButton {
  background-color: rgba(0, 0, 0, 0.72);
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: .3s ease;
  width: 200px; }
  .getButton:hover {
    background-color: #000AFF; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

.logo {
  font-weight: bold;
  font-size: 32px;
  color: #000AFF; }

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.72);
  transition: .3s ease; }
  .link:hover {
    color: #000AFF; }

.navbar {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.menu {
  display: flex; }
  .menu__item {
    margin-right: 36px; }

.intro {
  margin: 94px 0px 94px 0px; }

.header, .header_next, .subheader_next {
  font-weight: bold;
  font-size: 64px;
  text-align: center;
  color: #000AFF; }

.description {
  text-align: center;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.72); }

.header_next, .subheader_next {
  font-size: 44px;
  margin-bottom: 24px;
  margin-top: 90px; }

.about__text {
  transition: .3s ease;
  color: rgba(0, 0, 0, 0.72); }
  .about__text:hover {
    color: #000000; }

.speakers-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.speaker-item {
  width: 320px;
  margin-top: 73px; }
  .speaker-item .link {
    font-size: 14px;
    line-height: 24px; }
  .speaker-item__avatar {
    object-fit: cover;
    width: 200;
    height: 200;
    border-radius: 100%;
    margin-bottom: 18px;
    object-position: top;}
  .speaker-item__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 9px; }
  .speaker-item__job {
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.72); }
  .speaker-item__work {
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.72); }

.subheader_next {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.72);
  margin-top: 36px; }

.agenda-item {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .agenda-item__date {
    width: 200px; }
    .agenda-item__date .date {
      font-size: 36px;
      font-weight: bold; }
  .agenda-item__desc {
    width: 760px; }
    .agenda-item__desc h3 {
      font-size: 24px;
      color: #000000;
      line-height: 36px; }
    .agenda-item__desc span {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.72);
      line-height: 24px; }
